.nav-site {
    overflow: hidden;
}

.nav-site a {
    float: left;
    text-align: center;
    text-decoration: none;
    padding: 20px;
}

.productDropdown {
    float: left;
    overflow: hidden;
}

.productDropdown .productsButton {
    border: none;
    outline: none;
}


.products {
    display: none;
    position: absolute;
}

.products a {
    float: none;
    display: block;
}

.productDropdown:hover .products {
    display: block;
}