.main-title {
    text-align: center;
    font-size: 75px;
    margin: 0;
}

.sub-title {
    text-align: center;
    font-size: 50px;
    margin: 0;
}

/* I got the basic of how to make this from W3 schools, but don't know if we should use a lot of their code, idk*/
.nav-site {
    overflow: hidden;
}

.nav-site a {
    float: left;
    text-align: center;
    text-decoration: none;
    background-color: red; /* just to make it easier to see for now */
}

.productDropdown {
    float: left;
    overflow: hidden;
}

.productDropdown .productsButton {
    border: none;
    outline: none;
}


.products {
    display: none;
    position: absolute;
}

.products a {
    float: none;
    display: block;
}

.productDropdown:hover .products {
    display: block;
}

.mainpage-title {
    text-align: center;
    font-size: 30px
}

.image-container {
}

.buy-container {
    float: right;
}